body {
    background-image: url("https://img.freepik.com/premium-photo/background-studio-portrait-backdrops-photo-4k_707519-19458.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }